{% extends('DEVBlogBundle:Admin:admin_template.html.twig') %}
{% block admin_body %}
    <div class="alert alert-success" role="alert">
        <strong> Good !</strong> {{ message.content }}
    </div>
{% endblock %}