<div class="comment-section">
    <div class="show-comments">
        {{ include('DEVBlogBundle:comment:show.html.twig') }}
    </div>
    <div class="submit">
        {{ include('DEVBlogBundle:comment:new.html.twig') }}
    </div>
</div>