div.container{
    margin-top: 50px;
}
div.template-body{
    margin-top: 30px;
}

div.card-default{
    margin-bottom: 30px;
}

div.posts-list{
    margin-top: 30px;
}
div.menu-admin{
    margin-bottom: 30px;
}