{% extends 'DEVBlogBundle:Viewer:viewer_template.html.twig' %}
{% block viewer_body %}
    <div class="jumbotron">
        <h1 class="display-3"> {{ post.title }}</h1>
        <p class="lead"> <i> date publication : {{ post.publishedAt.date }}</i> </p>
        <hr class="my-4">
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                {{ post.content }}
            </p>
        </div>

    </div>


{% endblock %}



