{% extends 'DEVBlogBundle:Viewer:viewer_template.html.twig' %}
{% block viewer_body %}
    body for post by id

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title"> {{ post.title }}</h2>
        </div>
        <div>
            <i> date publication : {{ post.publishedAt.date }}</i>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
    </div>


{% endblock %}


