<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href=" {{ path('posts_admin') }}">Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=" {{ path('post_new') }} ">New Post</a>
    </li>
</ul>